{% extends 'base.html' %}

{% block content %}
<div class="container">

  <div class="row">
    {% for x in api %}
    <div class="col-sm-6 col-md-4 mb-4">
      <div class="card" style="width: 18rem;">
        <img src="{{x.avatar_url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{x.login}}</h5>
          <a href="{{x.html_url}}" class="btn btn-primary" target="_blank">打开主页</a>
        </div>
      </div>
    </div>

    {% endfor %}

  </div>
</div>
{% endblock %}
